apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-external-to-frontend
  namespace: ${PROJECT_NAME}
spec:
  podSelector:
    matchLabels:
      app: ${PROJECT_NAME}-frontend
  policyTypes:
  - Ingress
  ingress:
  - ports:
    - protocol: TCP
      port: 8080
---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-frontend-to-backend
  namespace: ${PROJECT_NAME}
spec:
  podSelector:
    matchLabels:
      app: ${PROJECT_NAME}-backend
  policyTypes:
  - Ingress
  ingress:
  - from:
    - podSelector:
        matchLabels:
          app: ${PROJECT_NAME}-frontend
    ports:
    - protocol: TCP
      port: 5000
